body
{
	margin:0;
	font-family: Calibri;
	font-size:14px;
}

.borda { border:thin solid #f00; }
.limpa { clear: both; }
.centro { text-align: center; }
.direita { text-align: right; }

#principal
{
	margin:15px auto;
	width: 1200px;
	position: relative;
	z-index: 1;
}

.caixa
{
	width: 300px;
	float: left;
}

.conteudoCaixa
{
	width: 90%;
	min-height: 235px;
	margin:10px auto;
	padding: 10px;
	padding-top: 0;
	background-color: rgba(255, 255, 255, 0.8);
	border:thin solid orange;
	background-image: url(../images/t2.png);
	background-position: top;
	background-repeat: repeat-x;
	box-shadow: 1px 2px 4px orange;
	position: relative;
	border-radius: 15px 15px 15px 15px;
}

.conteudoCaixa h1 { line-height: 5px; color:#fff; text-align: center;}
.conteudoCaixa table { width: 93%; position: absolute; bottom: 10px;}
.conteudoCaixa table td.col1_1 { width: 100px; }
.conteudoCaixa input[type='text'] { width: 100%; }

@media only screen and (min-width: 340px) and (max-width: 1200px)
{
	#principal { width: 90%; }
}